
  <div class="mdl-card__supporting-text">
    <h4>Technology</h4>
    
  </div>
  <div class="mdl-card__actions">
    <a class="mdl-button">Read our features</a>
  </div>
</div>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn3">
  <i class="material-icons">more_vert</i>
</button>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Empresa</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="row in $ctrl.data track by $index">
          <td class="mdl-data-table__cell--non-numeric" ng-bind="row"></td>
          <td ng-bind="value"></td>
        </tr>
      </tbody>
</table>