<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Stage 1</span>
      <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button" ng-click="main.showTable = !main.showTable">
            <label ng-if="main.showTable">Show chart</label><label ng-if="!main.showTable">Show table</label>
        </button>
        <button class="mdl-button mdl-js-button" ng-click="main.exportSvgAsImg()" ng-disabled="main.showTable">
            <label>Export chart</label>
        </button>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        <img src="./assets/images/me.jpg" class="demo-avatar"> 
        <span>ivacormor@gmail.com</span>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="https://es.linkedin.com/in/ivancoronadomoreno" target="_blank">
            Linkedin
        </a>
        <a class="mdl-navigation__link" href="https://github.com/IvanCoronado"target="_blank">
            Github
        </a>
        <a class="mdl-navigation__link" href="http://stackoverflow.com/users/5147115/ivan-coronado"target="_blank">
            Stackoverflow
        </a>

      <div class="mdl-layout-spacer"></div>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
        <my-table ng-if="main.showTable" head="main.tableData.head" values="main.tableData.values"></my-table>
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <nvd3 ng-if="!main.showTable" options="main.options" data="main.nvd3Data"></nvd3>
        </div>
    </div>
  </main>
</div>